@charset "utf-8";

#div_contenedor {
	width: 98%;
}

#contenido, #pie {
	margin: -10px 1px;
}

#contenido {
	float: left;
	width: 100%;
}

#pie {
	clear: both;
}

.input-text {
	width: 95% !important;
}

.input-text100 {
	width: 98% !important;
}

.input-text-col {
	width: 95%;
}

.input-text-number {
	text-align: right
}

.centrado {
	text-align: center;
}

.derecha {
	text-align: right;
}

.excel {
	width: 16px;
	height: 16px;
	background-position: center;
	background-image: url("#{resource['images:excel_logo.png']}") !important;
}

.duplicate {
	width: 16px;
	height: 16px;
	background-position: center;
	background-image: url("#{resource['images:duplicate.png']}") !important;
}

.csv {
	width: 16px;
	height: 16px;
	background-position: center;
	background-image: url("#{resource['images:csv.png']}") !important;
}

.pdf {
	width: 16px;
	height: 16px;
	background-position: center;
	background-image: url("#{resource['images:pdf.png']}") !important;
}

.print {
	width: 16px;
	height: 16px;
	background-position: center;
	background-image: url("#{resource['images:printer.png']}") !important;
}

.action {
	width: 16px;
	height: 16px;
	background-position: center;
	background-image: url("#{resource['images:action_icon.png']}") !important;
}

.xml {
	width: 16px;
	height: 16px;
	background-position: center;
	background-image: url("#{resource['images:xml.png']}") !important;
}


.nota {
	width: 16px;
	height: 16px;
	background-position: center;
	background-image: url("#{resource['images:nota_16.png']}") !important;
}

.auditoria {
	width: 16px;
	height: 16px;
	background-position: center;
	background-image: url("#{resource['images:auditoria.png']}") !important;
}

.mail {
	width: 16px;
	height: 16px;
	background-position: center;
	background-image: url("#{resource['images:mail.png']}") !important;
}

.ejecutar {
	width: 16px;
	height: 16px;
	background-position: center;
	background-image: url("#{resource['images:ejecutar.png']}") !important;
}

.eliminar {
	width: 16px;
	height: 16px;
	background-position: center;
	background-image: url("#{resource['images:eraser.png']}") !important;
}

.rowIndex {
	width: 20px;
}

.registro_total {
	background-color: #D8D8D8;
}

.registro_viejo_1 {
	background-color: #F3F781;
}

.registro_viejo_2 {
	background-color: #CAF9C1;
}

.registro_horas_extras {
	background-color: #ACE3F7;
}

.alineacionSuperior {
	vertical-align: top !important;
}

.color_verde {
	background-color: #009900;
}

.color_rojo {
	background-color: #FF0000;
}

.color_amarillo {
	background-color: #f2e62d;
}

.fondo_rojo {
	background: #FF0000;
}

.color_gris {
	background-color: #e4e8f1;
}

.color_dia_descanso {
	background-color: #7e99e3;
}

.text_color_azul {
	color: blue;
}

.text_color_rojo {
	color: #DC3847;
	font-weight: bold;
}

.color_azulII {
	background-color: #0080ff;
}

.color_pagoSuplementarias {
	background-color: #FFDAB9;
}

.fondo_azul {
	background: #38adaa;
	color: black;
}

.fondo_verde {
	background: #80ff80;
	color: black;
}

.fondo_amarillo {
	background: #ffff80;
	color: black;
}

.fondo_gris {
	background: #c0c0c0;
	color: black;
}

.negrita {
	font-weight: bold;
}
.subirImagen{
	height : 22px; 
	width : 22px;
}
.textoCentro{
	text-align:center;
}