table {
	width: 100%;
}

.tableCell {
	padding-right: 4px !important;
	padding-left: 2px !important;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

.tableCell0 {
	padding: 0px !important;
}

.columnaEtiqueta {
	width: 10%;
}

.columnaMitad {
	width: 50%;
}

.columnaMitadVAlign {
	width: 50%;
}

.columna25 {
	width: 25%;
}

.columnaBoton {
	width: 5%;
}

.columnaEtiquetaGrande {
	width: 20%;
}

.columnaValor {
	width: 40%;
}

.columna60 {
	width: 60%;
}

.columna80 {
	width: 80%;
}

.columna10 {
	width: 10%;
}

.columna20 {
	width: 20%;
}

.columna30 {
	width: 30%;
}

.columna15 {
	width: 15%;
}

.columna40 {
	width: 40%;
}

.columna90 {
	width: 90%;
}

.columnaDTCodigo {
	width: 80px;
}

.columnaDTCategoria {
	width: 70px;
}

.columnaDTCodigoCuenta {
	width: 100px;
}

.columnaDTCodigoProducto {
	width: 100px !important;
}

.columnaDTValor {
	width: 60px;
	text-align: right;
}

.columnaDTValorCorto {
	width: 30px;
	text-align: right;
}

.columnaDTValorGrande {
	width: 80px;
	text-align: right;
}

.columnaDTCantidad {
	width: 60px;
	text-align: center;
}

.columnaDTPorcentaje {
	width: 30px;
	text-align: right !important;
}

.columnaDTEstado {
	width: 80px !important
}

.columnaDTNumeroDocumento {
	width: 100px !important;
}

.columnaDTNumeroFactura {
	width: 120px !important;
}

.columnaDTFecha {
	width: 80px !important;
}

.columnaDTFechaInput {
	width: 120px !important;
}

.columnaDTNombre {
	width: 200px !important;
}

.columnaDTNombreCorto {
	width: 100px !important;
}

.columnaDTApellido {
	width: 350px !important;
}

.columnaDTDescripcion {
	width: 150px !important;
}
.columnaDTIdentificacion {
	width: 100px !important;
}

.columnaDTBodega {
	width: 100px !important;
}

.columnaDTUnidad {
	width: 80px !important;
}

.columnaDTActivo {
	width: 40px !important;
	margin: auto;
	text-align: center;
}

.columnaDTPredeterminado {
	width: 40px !important;
	margin: auto;
	text-align: center;
}

.columnaDTAccion {
	width: 24px !important;
	text-align: center;
}

.columnaDTLote {
	width: 120px !important;
}

.columnaDTCuentaOrganizacion {
	width: 100px !important;
}

.mayuscula {
	text-transform: uppercase;
}