/*
 * CSS Para sobreescribir los estilos del skin 'cupertino' segun se desee
 */

/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Lucida Grande, sans-serif, Lucida Sans, Arial;
	font-size: 12px;
}

.ui-widget .ui-widget {
	font-size: 12px;
}

.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button {
	font-family: Lucida Grande, sans-serif, Lucida Sans, Arial;
	font-size: 12px;
}

.ui-selectonemenu-item {
	font-size: 12px;
}

.ui-tabs .ui-tabs-panel {
	padding: 0.1em 0.1em !important;
}

.ui-selectonemenu {
	width: 95% !important;
}

.ui-selectonemenu-label {
	width: 99% !important;
}

.ui-autocomplete-input {
	width: 95% !important;
}

.ui-autocomplete-multiple {
	width: 95% !important;
}

.ui-autocomplete-multiple-container {
	width: 95% !important;
}

.ui-growl {
	position: absolute;
	top: 60px !important;
}

#panelNuevo .ui-panel-content,#panelListado .ui-panel-content {
	padding: 0.1em 0.1em !important;
}

.ui-fieldset,.ui-fieldset .ui-fieldset-legend {
	padding: 0.4em 0.4em !important;
}

.ui-column-filter {
	width: 96% !important;
	padding: 0.3em 0.0em !important;
}

.ui-dialog-content {
	padding: 0.1em 0.1em !important;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .50;
}
